body {
    height: 100vh;
    background: linear-gradient(45deg, lightblue, lightpink);
    color: #fff;
    padding: 10px;
    text-align: center;
}


span{
  font-size: 35px;
}

.box{
  background-color: #fff;
  border-radius: 25px;
  color: #000;
  width: 60%;
  margin: 40px auto;
  padding: 50px;
  font-size: 20px;
  box-shadow: 5px 5px 10px rgb(199, 199, 199);
}

.img-wrap{
  display: flex;
  justify-content: center;
}

h5{
  padding-top: 20px;
}